<template>
    <v-container style="min-height: 200px;" class="mb-2">
        <div v-for="(chat, index) in conversations" :key="index"
             class="d-flex mb-2 msg" @click="startChat(index)">
            <slot name="avatar"/>
            <v-avatar
                class="mt-2"
                color="primary"
                size="45"
            >
                <v-icon dark v-if="chat.type === 'private'">mdi-message</v-icon>
                <v-icon dark v-else-if="chat.type === 'group'">mdi-forum</v-icon>
            </v-avatar>
            <slot name="chatInfo"/>
            <v-list-item two-line>
                <v-list-item-content v-if="!chat.group_name && chat.user_id_1 === user.user.user.id">
                    <v-list-item-title>{{ chat.user2.name }}</v-list-item-title>
                    <v-list-item-subtitle>
                        {{ chat.user2.username }} |
                        <small>خصوصی</small>
                    </v-list-item-subtitle>
                </v-list-item-content>
                <v-list-item-content v-else-if="!chat.group_name && chat.user_id_2 === user.user.user.id" class="mb-3">
                    <v-list-item-title>{{ chat.user1.name }}</v-list-item-title>
                    <v-list-item-subtitle>
                        {{ chat.user1.username }} |
                        <small>خصوصی</small>
                    </v-list-item-subtitle>
                </v-list-item-content>
                <v-list-item-content v-else-if="chat.group_name" class="mb-3">
                    <v-list-item-title>{{ chat.group_name }}</v-list-item-title>
                    <v-list-item-subtitle>گروه</v-list-item-subtitle>
                </v-list-item-content>
            </v-list-item>
        </div>

        <v-row justify="center">
            <v-dialog
                content-class="dialog"
                class="dialog"
                v-model="dialog"
                width="800px"
            >
                <v-card>
                    <v-toolbar
                        color="indigo"
                        dark>
                        <v-icon dark v-if="chatBox.type === 'private'" class="mx-2">mdi-message</v-icon>
                        <v-icon dark v-else-if="chatBox.type === 'group'" class="mx-2">mdi-forum</v-icon>
                        <v-list-item-content v-if="!chatBox.group_name && chatBox.user_id_1 === user.user.user.id">
                            <v-list-item-title>{{ chatBox.user2.name }}</v-list-item-title>
                            <v-list-item-subtitle>
                                {{ chatBox.user2.username }} |
                                <small>خصوصی</small>
                            </v-list-item-subtitle>
                        </v-list-item-content>
                        <v-list-item-content v-else-if="!chatBox.group_name && chatBox.user_id_2 === user.user.user.id">
                            <v-list-item-title>{{ chatBox.user1.name }}</v-list-item-title>
                            <v-list-item-subtitle>
                                {{ chatBox.user1.username }} |
                                <small>خصوصی</small>
                            </v-list-item-subtitle>
                        </v-list-item-content>
                        <v-list-item-content v-else-if="chatBox.group_name">
                            <v-list-item-title>{{ chatBox.group_name }}</v-list-item-title>
                            <v-list-item-subtitle>گروه</v-list-item-subtitle>
                        </v-list-item-content>
                    </v-toolbar>
                    <v-card-title>
                        <span class="text-h5 text--white" style="color: white">'</span>
                    </v-card-title>
                    <v-card-text v-for="(message, index) in currentConversationMessage" :key="index">
                        <v-row>
                            <v-col v-if="message.writer_id !== user.user.user.id" cols="4"/>
                            <v-col cols="8" class="py-0">
                                <span>{{ message.writer.name }}</span>
                                <v-alert
                                    :border="message.writer_id === user.user.user.id ?  'left': 'right'"
                                    :color="message.writer_id === user.user.user.id ?  'deep-purple darken-4': 'cyan darken-4'"
                                    elevation="2"
                                    outlined
                                    text
                                    rounded
                                    dense
                                >{{ message.message }}
                                    <v-icon style="float: left;" v-if="message.writer_id === user.user.user.id && message.is_read === 1">
                                        mdi-check
                                    </v-icon>
                                </v-alert>
                            </v-col>
                        </v-row>
                    </v-card-text>
                    <v-card-text v-if="currentConversationMessage.length === 0">
                        سابقه ی گفتگویی یافت نشد!
                    </v-card-text>
                    <v-card-actions>
                        <v-row class="pb-2">
                            <v-col cols="10">
                                <v-text-field
                                    label=" "
                                    :rules="rules"
                                    hide-details="auto"
                                    v-model="message"
                                    @keyup.enter="sendMessage()"
                                ></v-text-field>
                            </v-col>
                            <v-btn
                                style="margin-top: auto; float: left"
                                color="green darken-1"
                                text
                                @click="sendMessage()"
                            >
                                ارسال
                            </v-btn>
                        </v-row>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-row>
    </v-container>
</template>

<script>
import {mapState} from "vuex";
import appConversationsBodyMethods from "./appConversationsBodyMethods";
import DialogChat from "../../../layout/dialogChat";

export default {
    name: "appConversationsBody",
    components: {DialogChat},
    computed: {
        ...mapState({
            user: state => state.user,
            conversations: state => state.conversations.list.activeLists,
            conversationLoading: state => state.conversations.conversationLoading,
        })
    },
    data() {
        return {
            rules: [
                // value => !!value || 'نمیتواند خالی باشد.',
                // value => (value && value.length >= 3) || 'Min 3 characters',
            ],
            dialog: false,
            chatBox: [],
            currentConversationMessage: [],
            message: ''
        }
    },
    methods: {
        ...appConversationsBodyMethods
    },
    watch: {
        chatBox() {
            this.connect()
        }
    },
    created() {
        this.connect()
    }
}
</script>

<style>
.msg {
    cursor: pointer;
    padding: 0 5px;
    border-radius: 5px;
}
.msg:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.dialog {
    min-height: -webkit-fill-available;
}
</style>
