<template>
    <v-flex class="d-flex">
        <app-bar-slot
            bar-name="گفتگوها">
            <template v-slot:createButton>
                <v-btn
                    class="mr-2 ml-0"
                    :loading="conversationLoading"
                    icon small
                    @click="addConversation = true">
                    <v-icon> mdi-chat-plus </v-icon>

                </v-btn>
                <v-row justify="center" :style="addConversation ? '' : 'display: none'">
                    <v-dialog
                        v-model="addConversation"
                        persistent
                        max-width="600px"
                    >
                        <v-card>
                            <v-card-title>
                                <h5>شروع صحبت...</h5>
                            </v-card-title>
                            <v-card-text>
                                <v-container>
                                    <v-text-field
                                        label="نام کاربری موردنظر را وارد کنید"
                                        required
                                        v-model="username"
                                    />
                                </v-container>
                                <small>از صحیح بودن نام کاربری مخاطب اطمینان حاصل کنید</small>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn
                                    color="red darken-1"
                                    text
                                    @click="addConversation = false"
                                >
                                    بستن
                                </v-btn>
                                <v-btn
                                    color="green darken-1"
                                    text
                                    @click="startConversation(username)"
                                >
                                    ارسال
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </v-row>
            </template>
            <template v-slot:toggleButtons>
                <app-btn-toggle
                    :items="conversationToggleItem"
                    :subject="2"
                    :btn-loading="conversationLoading"
                    @getConversations="getConversations"/>
            </template>
        </app-bar-slot>
    </v-flex>
</template>

<script>
import AppBarSlot from "../../../layout/appBarSlot";
import AppBtnToggle from "../../../layout/appBtnToggle";
import { mapState } from "vuex";
import appConversationsBarMethods from "./appConversationsBarMethods";
export default {
    name: "appConversationBar",
    components: {AppBtnToggle, AppBarSlot},
    data() {
        return {
            addConversation: false,
            username: '',
            conversationToggleItem: [
                { name: 'همه', value: 'all' },
                { name: 'افراد', value: 'private' },
                { name: 'گروه ها', value: 'group' },
            ]
        }
    },
    computed: {
        ...mapState({
            loggedUser: state => state.user.user,
            conversationLoading: state => state.conversations.conversationLoading,
            conversation: state => state.conversations.conversationDialog,
            disableFriendList: state => state.friends.disableFriendList,
            active: state => state.conversations.list.activeLists
        })
    },
    methods: {
        ...appConversationsBarMethods
    },
    created() {
        this.conversationConnect()
    }
}
</script>

<style scoped>

</style>
