<template>
    <v-row class="mt-5 pt-5" v-if="defaultUi === 4">
        <v-col cols="3"/>
        <v-col cols="6">
            <v-card class="pa-4">
                <v-text-field v-model="name"
                              :rules="[ value => !!value || 'نمیتواند خالی باشد.' ]"
                              outlined clearable label="نام دانشکده"/>
                <v-card-actions>
                    <v-spacer/>
                    <v-btn color="success"
                           outlined
                           elevation="4"
                           @click="addCollege"
                           :loading="loadingBtn">
                        ثبت دانشکده جدید
                        <v-icon
                            right
                            dark
                        >
                            mdi-fingerprint
                        </v-icon>
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-col>
    </v-row>
</template>

<script>
import {mapState} from "vuex";
import appToolbarMethods from "./appToolbarMethods";

export default {
    name: "addNewCollege",
    computed: {
        ...mapState({
            defaultUi: state => state.app.ui.defaultUi
        })
    },
    data() {
        return {
            name: '',
            loadingBtn: false,
            colleges: [],
            alert: false,
        }
    },
    methods: {
        ...appToolbarMethods
    }
}
</script>

<style scoped>

</style>
