<template>
    <v-row class="mt-5 pt-5" v-if="defaultUi === 3">
        <v-col cols="3"/>
        <v-col cols="6">
            <v-card class="pa-4">
                <v-text-field v-model="userForm.name"
                              :rules="[ value => !!value || 'نمیتواند خالی باشد.' ]"
                              outlined clearable label="نام"/>
                <v-text-field v-model="userForm.username" type="text"
                              :rules="[ value => !!value || 'نمیتواند خالی باشد.' ]"
                              outlined clearable label="نام کاربری"/>
                <v-text-field v-model="userForm.password" outlined clearable
                              :rules="[
                               value => !!value || 'نمیتواند خالی باشد.',
                               value => (value && value.length >= 6) || 'نمیتواند کمتر از 6 حرف باشد!',
                          ]"
                              type="password" label="رمز عبور"/>
                <v-text-field v-model="userForm.password_confirmation" outlined clearable
                              :rules="[ value => !!value || 'نمیتواند خالی باشد.' ]"
                              type="password" label="تکرار رمز عبور"/>
                <v-combobox
                    v-model="userForm.college_id"
                    :items="colleges"
                    item-text="name"
                    item-value="id"
                    clearable
                    outlined
                    hide-selected
                ></v-combobox>
                <v-card-actions>
                    <v-spacer/>
                    <v-btn color="success"
                           outlined
                           elevation="4"
                           @click="addUser"
                           :loading="loadingBtn">
                        ثبت کاربر جدید
                        <v-icon
                            right
                            dark
                        >
                            mdi-fingerprint
                        </v-icon>
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-col>
    </v-row>
</template>

<script>
import {mapState} from "vuex";
import appMethods from "../../appMethods";
import appToolbarMethods from "./appToolbarMethods";

export default {
    name: "registerNewUser",
    computed: {
        ...mapState({
            defaultUi: state => state.app.ui.defaultUi
        })
    },
    data() {
        return {
            userForm: {
                username: '',
                name: '',
                password: '',
                password_confirmation: '',
                college_id: '',
                type: 'operator'
            },
            loadingBtn: false,
            colleges: [],
            alert: false,
        }
    },
    methods: {
        ...appToolbarMethods
    },
    created() {
        this.getColleges()
    }
}
</script>

<style scoped>

</style>
