@font-face {
  font-family: Vazir;
  src: url('~vazir-font/dist/Farsi-Digits/Vazir-FD.eot');
  src: url('~vazir-font/dist/Farsi-Digits/Vazir-FD.eot?#iefix') format('embedded-opentype'),
  url('~vazir-font/dist/Farsi-Digits/Vazir-FD.woff2') format('woff2'),
  url('~vazir-font/dist/Farsi-Digits/Vazir-FD.woff') format('woff'),
  url('~vazir-font/dist/Farsi-Digits/Vazir-FD.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Vazir;
  src: url('~vazir-font/dist/Farsi-Digits/Vazir-Bold-FD.eot');
  src: url('~vazir-font/dist/Farsi-Digits/Vazir-Bold-FD.eot?#iefix') format('embedded-opentype'),
  url('~vazir-font/dist/Farsi-Digits/Vazir-Bold-FD.woff2') format('woff2'),
  url('~vazir-font/dist/Farsi-Digits/Vazir-Bold-FD.woff') format('woff'),
  url('~vazir-font/dist/Farsi-Digits/Vazir-Bold-FD.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: Vazir;
  src: url('~vazir-font/dist/Farsi-Digits/Vazir-Light-FD.eot');
  src: url('~vazir-font/dist/Farsi-Digits/Vazir-Light-FD.eot?#iefix') format('embedded-opentype'),
  url('~vazir-font/dist/Farsi-Digits/Vazir-Light-FD.woff2') format('woff2'),
  url('~vazir-font/dist/Farsi-Digits/Vazir-Light-FD.woff') format('woff'),
  url('~vazir-font/dist/Farsi-Digits/Vazir-Light-FD.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: Vazir;
  src: url('~vazir-font/dist/Farsi-Digits/Vazir-Medium-FD.eot');
  src: url('~vazir-font/dist/Farsi-Digits/Vazir-Medium-FD.eot?#iefix') format('embedded-opentype'),
  url('~vazir-font/dist/Farsi-Digits/Vazir-Medium-FD.woff2') format('woff2'),
  url('~vazir-font/dist/Farsi-Digits/Vazir-Medium-FD.woff') format('woff'),
  url('~vazir-font/dist/Farsi-Digits/Vazir-Medium-FD.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: Vazir;
  src: url('~vazir-font/dist/Farsi-Digits/Vazir-Thin-FD.eot');
  src: url('~vazir-font/dist/Farsi-Digits/Vazir-Thin-FD.eot?#iefix') format('embedded-opentype'),
  url('~vazir-font/dist/Farsi-Digits/Vazir-Thin-FD.woff2') format('woff2'),
  url('~vazir-font/dist/Farsi-Digits/Vazir-Thin-FD.woff') format('woff'),
  url('~vazir-font/dist/Farsi-Digits/Vazir-Thin-FD.ttf') format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: azir;
  src: url('~vazir-font/dist/Farsi-Digits/Vazir-Black-FD.eot');
  src: url('~vazir-font/dist/Farsi-Digits/Vazir-Black-FD.eot?#iefix') format('embedded-opentype'),
  url('~vazir-font/dist/Farsi-Digits/Vazir-Black-FD.woff2') format('woff2'),
  url('~vazir-font/dist/Farsi-Digits/Vazir-Black-FD.woff') format('woff'),
  url('~vazir-font/dist/Farsi-Digits/Vazir-Black-FD.ttf') format('truetype');
  font-weight: 900;
}