<template>
    <v-col :cols="defaultUi === 1 ? 12 : defaultUi === 0 ? 6 : null"
           v-if="defaultUi === 1 || defaultUi === 0"
           style="float: right">
        <v-card elevation="3"
                outlined
                shaped>
            <app-conversation-bar/>
            <app-conversations-body/>
        </v-card>
    </v-col>
</template>

<script>
import { mapState } from 'vuex'
import AppConversationBar from "./components/appConversationsBar";
import AppConversationsBody from "./components/appConversationsBody";

export default {
    name: "appConversations",
    components: {AppConversationsBody, AppConversationBar},
    computed: {
        ...mapState({
            defaultUi: state => state.app.ui.defaultUi
        })
    }
}
</script>

<style scoped>

</style>
