<template>
    <v-app id="app">
        <vue-snotify></vue-snotify>
        <admin-page v-if="sitePart === 2"/>
        <user-page v-else-if="sitePart === 1"/>
        <option-page v-else/>
    </v-app>
</template>

<script>
    import { mapState } from 'vuex'
    import AppToolbar from "./components/appToolbar";
    import MainPage from "./components/mainPage";
    import appMethods from "./appMethods";
    import AdminPage from "./components/adminPage";
    import OptionPage from "./components/optionPage";
    import UserPage from "./components/userPage";

    export default  {
        name: "app",
        components: {OptionPage, AdminPage, MainPage, AppToolbar, UserPage},
        computed: {
            ...mapState({
                user: state => state.user,
                sitePart: state => state.app.ui.defaultType
            })
        },
        methods: {
            ...appMethods
        },
        created() {
            console.log(this.sitePart)
            if (this.user.loggedIn) {
                this.getData()
            }
        }
    }
</script>

<style lang="scss">
// Import vazir Font
$vazir-font-path: "~vazir-font/dist/";
@import "~vazir-font/dist/font-face.css";

@import "~vue-snotify/styles/material.css";
.snotify {
    width: 400px;
    max-width: 92%;
}
.snotifyToast__title {
    font-size: 1.3em;
}
.snotify-icon {
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
}
.snotify-success .snotifyToast__body,
.snotify-info .snotifyToast__body,
.snotify-error .snotifyToast__body,
.snotify-warning .snotifyToast__body {
    color: #FFF;
}
.snotify-confirm {
    background: #fff !important;
}
.snotifyToast__title{
    color: #000 !important;
}
.snotify-confirm .snotifyToast__body {
    color: #000 !important;
}

#app {
    direction: rtl;
    font-family: Vazir, Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}
    @media (min-width: 1264px) {
        .container {
            max-width: 100%;
        }
    }
</style>
