<template>
    <v-main>
        <app-toolbar/>
        <v-flex>
            <main-page v-if="user.loggedIn"/>
        </v-flex>
    </v-main>
</template>

<script>
import { mapState } from 'vuex'
import AppToolbar from "./appToolbar";
import MainPage from "./mainPage";
import appMethods from "../appMethods";
import appToolbarMethods from "./views/appToolbarMethods";

export default {
    name: "adminPage",
    components: {MainPage, AppToolbar},
    computed: {
        ...mapState({
            user: state => state.user,
            sitePart: state => state.app.ui.defaultType
        })
    },
    methods: {
        ...appMethods
    },
    created() {

    }
}
</script>

<style scoped>

</style>
