<template>
    <div>
        <v-app-bar
            v-if="user.loggedIn"
            color="deep-purple darken-2"
            elevate-on-scroll dark>
            <span>
                <span v-if="user.user.user">
                {{ user.user.user.name }}
            </span>
                <span v-if="user.user.user && user.user.user.type === 'admin'">
                ادمین گرامی&ensp;
            </span>
                <span v-else-if="user.user.user.type === 'operator'">
                پشتیبان عزیز {{ user.user.user.college.name }}
            </span>
                خوش آمدید!
            </span>
            <v-spacer/>
        </v-app-bar>
        <v-app-bar color="deep-purple darken-4" dense dark>
            <v-toolbar-title>
                <v-icon x-large>
                    mdi-wechat
                </v-icon>
                چت پشتیبان
            </v-toolbar-title>
            <v-spacer/>
            <v-menu v-model="menu"
                    :close-on-content-click="false"
                    :nudge-width="200"
                    offset-x >
                <template v-slot:activator="{ on, attrs }">
                    <v-btn
                        v-bind="attrs"
                        v-on="on"
                        v-if="!user.loggedIn"
                        icon>
                        <v-icon>
                            mdi-login
                        </v-icon>
                    </v-btn>
                </template>
                <v-card class="pa-4">
                    <v-text-field v-model="userForm.username" outlined label="نام کاربری"/>
                    <v-text-field v-model="userForm.password" type="password" outlined label="رمز عبور"/>
                    <v-card-actions>
                        <v-spacer/>
                        <v-btn color="success"
                               outlined
                               elevation="4"
                               @click="loginAuth"
                               :loading="loadingBtn">
                            ورود
                            <v-icon
                                right
                                dark
                            >
                                mdi-fingerprint
                            </v-icon>
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-menu>

            <v-btn-toggle v-model="defaultUi" color="white"
                          dense group v-if="user.loggedIn">
                <v-btn :disabled="defaultUi === 0" @click="changeUi(0)" text>
                    گفتگوها و افراد
                </v-btn>
                <v-btn :disabled="defaultUi === 1" @click="changeUi(1)" text>
                    گفتگوها
                </v-btn>
                <v-btn :disabled="defaultUi === 2" @click="changeUi(2)" text>
                    افراد
                </v-btn>
                <v-btn :disabled="defaultUi === 3" v-if="user.user.user.type === 'admin'" @click="changeUi(3)" text>
                    افزودن پشتیبان
                </v-btn>
                <v-btn :disabled="defaultUi === 4" v-if="user.user.user.type === 'admin'" @click="changeUi(4)" text>
                    افزودن دانشکده
                </v-btn>
            </v-btn-toggle>
        </v-app-bar>
    </div>
</template>

<script>
import { mapState } from 'vuex'
import appToolbarMethods from './views/appToolbarMethods';

export default {
    name: "appToolbar",

    data() {
        return {
            menu: false,
            loadingBtn: false,
            userForm: {
                username: '',
                password: '',
            }
        }
    },
    methods: {
        logOut() {
            axios.post('auth/logout')
                .then(res => {
                    this.$store.dispatch('user/removeUser')
                        .then(() => {
                            this.loadingBtn = false
                        })
                    location.reload();
                })
                .catch(err => {
                    console.log(err)
                })
        },
        ...appToolbarMethods
    },
    computed: {
        ...mapState({
            user: state => state.user,
            defaultUi: state => state.app.ui.defaultUi
        })
    }
}
</script>

<style scoped>

</style>
