<template>
    <div>
        <app-conversations/>
        <app-friends/>
        <register-new-user/>
        <add-new-college/>
    </div>
</template>

<script>
import AppConversations from "./views/conversations/appConversations";
import AppFriends from "./views/friends/appFriends";
import RegisterNewUser from "./views/registerNewUser";
import AddNewCollege from "./views/addNewCollege";
export default {
    name: "mainPage",
    components: {AddNewCollege, RegisterNewUser, AppFriends, AppConversations}
}
</script>

<style scoped>

</style>
