<template>
    <v-main>
        <v-col cols="6" class="hey">
            <v-card class="text-center" style="min-height: 10rem;">
                <div style="padding-bottom: 3rem; padding-top: 1rem;">
                    مشاهده سایت به عنوان:
                </div>
                <div>
                    <v-btn class="mx-2" @click="changeType(1)">کاربر</v-btn>
                    <v-divider
                        inset
                        vertical
                    />
                    <v-btn class="mx-2" @click="changeType(2)">ادمین | پشتیبان</v-btn>
                </div>
            </v-card>
        </v-col>
    </v-main>
</template>

<script>
import {mapState} from "vuex";
import appMethods from "../appMethods";

export default {
    name: "optionPage",
    computed: {
        ...mapState({
            sitePart: state => state.app.ui.defaultType
        })
    },
    methods: {
        ...appMethods
    }

}
</script>

<style scoped>
.hey {
    position: absolute;
    top: 17rem;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}
</style>
