<template>
    <v-main>
        <v-row class="justify-center">
            <v-img :aspect-ratio="16/9"
                   :width="width"
                   :src="require('../../image/bg.png')"
                   style="max-height: 100vh; overflow-y: hidden"
            >

                <v-row style="margin-top: 1rem">
                    <v-col cols="10"/>
                    <v-col cols="2">
                        <a href="https://shahroodut.ac.ir">
                            <v-img :src="require('../../image/logo.png')"
                                   style="height: 6rem; width: 4rem"
                            />
                        </a>
                    </v-col>
                </v-row>
                <v-row style="margin-top: 4rem">
                    <v-col cols="8"/>
                    <v-col cols="4">
                        <div>
                            <h4>به صفحه چت پشتیبان</h4>
                            <h2>دانشگاه صنعتی شاهرود</h2>
                            <h4>خوش آمدید</h4>
                        </div>

                        <div style="margin-top: 5rem; max-width: 20rem">
                            لطفا برای طرح هرگونه پرسش، ابتدا
                            از لیست زیر دانشکده مدنظر خود را انتخاب نمایید.
                        </div>
                    </v-col>
                </v-row>

            </v-img>
        </v-row>

        <v-row class="justify-center">
            <v-col cols="9" style="padding-top: 4rem;">
                <v-card v-if="college_id === 0" outlined elevation="2">
                    <v-card-title style="padding-right: 2rem">دانشکده ها</v-card-title>
                    <v-divider/>
                    <v-card-text style="padding: 1rem 3rem">
                        <v-btn
                            v-for="(college, index) in colleges" :key="index"
                            style="margin: 0.7rem 1.1rem"
                            color="primary"
                            elevation="2"
                            @click="setCollege(college)"
                        >
                            {{ college.name }}
                        </v-btn>
                    </v-card-text>
                </v-card>
                <v-card outlined elevation="2" v-else class="justify-center text-center">
                    <v-card-title class="my-2">شما هم اکنون در صفحه {{selectedCollege}} هستید!</v-card-title>
                    <v-btn
                        class="ma-2"
                        dark
                        color="red darken-2"
                        elevation="2"
                        outlined
                        @click="setCollege(0)">
                        بازگشت به لیست دانشکده ها
                    </v-btn>
                </v-card>
            </v-col>
        </v-row>

        <v-card
            v-if="showChatDialog"
            class="chat"
            scrollable
            width="300px"
        >
            <v-card-title>
                <v-btn color="red darken-4" text v-if="user.loggedIn" @click="deleteSession">پایان چت</v-btn>
                <h5 v-else>صحبت با پشتیبان</h5>
                <v-spacer/>
                <v-spacer/>
                <v-btn
                    @click="showChatDialog = !showChatDialog"
                    icon>
                    <v-icon color="red">
                        mdi-close
                    </v-icon>
                </v-btn>
            </v-card-title>
            <v-divider></v-divider>
            <v-card-text style="height: 400px; padding: 0; overflow-y: scroll; overflow-x: hidden;">
                <v-card-text v-if="!user.loggedIn">
                    برای ارتباط با پشتیبان شماره دانشجویی حود را وارد کنید:
                </v-card-text>
                <v-card class="pa-4 mx-2 mt-3" v-if="!user.loggedIn">
                    <v-text-field v-model="username" outlined label="شماره دانشجویی"/>
                    <v-card-actions>
                        <vue-recaptcha
                            style="transform:scale(0.8);-webkit-transform:scale(0.8);
                                transform-origin:23rem 0;-webkit-transform-origin:23rem 0;"
                            :loadRecaptchaScript="true"
                            @verify="enableBtn"
                            sitekey="6LeoAWIcAAAAAPgRZs0U4lZ6t-_wVu3VE26wyG6C"/>
                    </v-card-actions>
                    <v-spacer/>
                    <v-btn color="success"
                           class="mt-4"
                           outlined
                           elevation="4"
                           :disabled="sendBtn"
                           @click="loginChat"
                           :loading="loadingBtn">
                        ثبت
                        <v-icon
                            right
                            dark
                        >
                            mdi-fingerprint
                        </v-icon>
                    </v-btn>
                </v-card>
                <div v-else>
                    <v-app-bar color="cyan darken-1"
                               elevate-on-scroll dark>
                        <v-btn-toggle v-model="chatTab" color="white"
                                      dense group v-if="user.loggedIn">
                            <v-btn :disabled="chatTab === 0" @click="chatTab = 0" text>
                                انتخاب پشتیبان
                            </v-btn>
                            <v-btn :disabled="chatTab === 1" @click="getChatHistory" text>
                                تاریخچه چت
                            </v-btn>
                        </v-btn-toggle>
                    </v-app-bar>

                    <v-card v-if="chatTab === 0">
                        <v-card-text v-if="!operators.length">
                            متاسفانه پشتیبانی پیدا نشد!
                        </v-card-text>
                        <v-card-text v-else v-for="(operator, index) in operators" :key="index">
                            <v-btn depressed
                                   color="primary"
                                   dense
                                   @click="newConversation(user.user.user.id, operator.id)"
                                   block
                            >
                                {{ operator.name }}
                            </v-btn>
                        </v-card-text>
                        <v-card-text v-if="college_id === 0">
                            برای تماس با پشتیبان ابتدا دانشکده مورد نظر را انتخاب کنید
                        </v-card-text>
                    </v-card>
                    <v-card v-else-if="chatTab === 1">
                        <v-card-text v-for="(chat, index) in allChats" :key="index"
                                     class="d-flex mb-2 msg" @click="getingMessages(index)">
                            <slot name="avatar"/>
                            <v-avatar
                                class="mt-2"
                                color="primary"
                                size="45"
                            >
                                <v-icon dark v-if="chat.type === 'private'">mdi-message</v-icon>
                                <v-icon dark v-else-if="chat.type === 'group'">mdi-forum</v-icon>
                            </v-avatar>
                            <slot name="chatInfo"/>
                            <v-list-item two-line>
                                <v-list-item-content v-if="!chat.group_name && chat.user_id_1 === user.user.user.id">
                                    <v-list-item-title>{{ chat.user2.name }}</v-list-item-title>
                                    <v-list-item-subtitle>
                                        {{ chat.user2.username }} |
                                        <small>خصوصی</small>
                                    </v-list-item-subtitle>
                                </v-list-item-content>
                                <v-list-item-content v-else-if="!chat.group_name && chat.user_id_2 === user.user.user.id" class="mb-3">
                                    <v-list-item-title>{{ chat.user1.name }}</v-list-item-title>
                                    <v-list-item-subtitle>
                                        {{ chat.user1.username }} |
                                        <small>خصوصی</small>
                                    </v-list-item-subtitle>
                                </v-list-item-content>
                                <v-list-item-content v-else-if="chat.group_name" class="mb-3">
                                    <v-list-item-title>{{ chat.group_name }}</v-list-item-title>
                                    <v-list-item-subtitle>گروه</v-list-item-subtitle>
                                </v-list-item-content>
                            </v-list-item>
                        </v-card-text>
                    </v-card>
                    <v-card v-else-if="chatTab === 2">
                        <v-card-title>
                            <span class="text-h5 text--white" style="color: white">'</span>
                        </v-card-title>
                        <v-card-text v-for="(message, index) in currentConversationMessage" :key="index">
                            <v-row>
                                <v-col v-if="message.writer_id !== user.user.user.id" cols="4"/>
                                <v-col cols="8" class="py-0">
                                    <span>{{ message.writer.name }}</span>
                                    <v-alert
                                        :border="message.writer_id === user.user.user.id ?  'left': 'right'"
                                        :color="message.writer_id === user.user.user.id ?  'deep-purple darken-4': 'cyan darken-4'"
                                        elevation="2"
                                        outlined
                                        text
                                        rounded
                                        dense
                                    >{{ message.message }}
                                        <v-icon style="float: left;" v-if="message.writer_id === user.user.user.id && message.is_read === 1">
                                            mdi-check
                                        </v-icon>
                                    </v-alert>
                                </v-col>
                            </v-row>
                        </v-card-text>
                        <v-card-text v-if="currentConversationMessage.length === 0">
                            سابقه ی گفتگویی یافت نشد!
                        </v-card-text>
                        <v-card-actions>
                            <v-row class="pb-2">
                                <v-col cols="8">
                                    <v-text-field
                                        label=" "
                                        hide-details="auto"
                                        v-model="message"
                                        @keyup.enter="sendMessage()"
                                    ></v-text-field>
                                </v-col>
                                <v-btn
                                    style="margin-top: auto; float: left"
                                    color="green darken-1"
                                    text
                                    @click="sendMessage()"
                                >
                                    ارسال
                                </v-btn>
                            </v-row>
                        </v-card-actions>

                    </v-card>
                </div>
            </v-card-text>
        </v-card>
        <v-btn
            fab
            dark
            @click="showChatDialog = ! showChatDialog"
            color="deep-orange darken-1"
            class="chatLogo">
            <v-icon dark>
                mdi-chat
            </v-icon>
        </v-btn>
    </v-main>
</template>

<script>
import { mapState } from 'vuex'
import AppToolbar from "./appToolbar";
import MainPage from "./mainPage";
import appMethods from "../appMethods";
import appToolbarMethods from "./views/appToolbarMethods";
import appFriendsMethods from "./views/friends/components/appFriendsMethods";
import appConversationsBodyMethods from "./views/conversations/components/appConversationsBodyMethods";
import VueRecaptcha from "vue-recaptcha"

export default {
    name: "userPage",
    components: {MainPage, AppToolbar, VueRecaptcha},
    computed: {
        ...mapState({
            user: state => state.user,
            sitePart: state => state.app.ui.defaultType
        })
    },
    data() {
        return {
            sendBtn: true,
            allChats: [],
            message: '',
            currentConversationMessage: [],
            chatTab: 0,
            college_id: 0,
            colleges: [],
            loadingBtn: false,
            showChatDialog: false,
            username: '',
            userForm: {
                username: this.username,
                password: this.username
            },
            selectedCollege: '',
            operators: [],
            chatBox: []
        }
    },
    methods: {
        deleteSession () {
            localStorage.clear()
            location.reload()
        },
        enableBtn () {
            this.sendBtn = false
        },
        getOperators(id) {
            axios.get(`operators/${id}`)
            .then(res => {
                console.log(res)
                this.operators = res.data
            })
            .catch(err => {
                this.operators = []
                console.log(err)
            })
        },
        loginChat () {
            this.loadingBtn = true
            axios.post('auth/register', {
                username: this.username,
                name: 'دانشجو ' + this.username,
                password: this.username,
                password_confirmation: this.username,
                type: 'student',
            })
                .then(res => {
                    if(res.status === 201) {
                        this.login({
                            username: this.username,
                            password: this.username
                        })
                    }
                })
                .catch(err => {
                    console.log(err)
                    this.loadingBtn = false
                    this.login({
                        username: this.username,
                        password: this.username
                    })
                })
        },
        login(log) {
            this.loadingBtn = true
            axios.post('auth/login', log)
                .then(res => {
                    this.$store.dispatch('user/setUser', res.data)
                        .then(() => {
                            this.menu = false
                            this.loadingBtn = false
                        })
                    location.reload();
                    this.showChatDialog = true
                })
                .catch(err => {
                    this.loadingBtn = false
                    console.log(err)
                })
        },
        setCollege(college) {
            if (college !== 0) {
                this.selectedCollege = college.name
                this.college_id = college.id
                this.getOperators(this.college_id)
            } else {
                this.selectedCollege = ''
                this.college_id = 0
            }

        },
        getingMessages(id) {
            this.chatBox = this.allChats[id]
            this.getMessages(this.chatBox.id)
            this.seenMessage()
        },
        newConversation(student, operator) {
            axios.post(`newConversation`, {
                user_id_1: student,
                user_id_2: operator
            })
                .then(res => {
                    if (res.data.status === 200){
                        this.chatBox = res.data.data
                        this.getMessages(this.chatBox.id)
                    }
                })
                .catch(err => {
                    this.chatBox = err.response.data.data[0]
                    this.getMessages(this.chatBox.id)
                })
        },
        ...appMethods,
        ...appToolbarMethods,
        ...appFriendsMethods,
        ...appConversationsBodyMethods
    },
    watch: {
        chatBox() {
            this.connect()
        }
    },
    created() {
        this.getColleges()
        this.connect()
    }
}
</script>

<style scoped>
.chatLogo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
}
.chat {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 2;
}
</style>
