<template>
  <v-col :cols="defaultUi === 2 ? 12 : defaultUi === 0 ? 6 : null"
         v-if="defaultUi === 2 || defaultUi === 0"
         style="float: left;">
    <v-card elevation="3"
            outlined
            shaped>
      <app-friends-bar/>
      <app-friends-body/>
    </v-card>
  </v-col>
</template>

<script>
import { mapState } from 'vuex'
import AppFriendsBar from "./components/appFriendsBar";
import AppFriendsBody from "./components/appFriendsBody";

export default {
    name: "appFriends",
    components: {AppFriendsBody, AppFriendsBar},
    computed: {
        ...mapState({
            defaultUi: state => state.app.ui.defaultUi
        })
    }
}
</script>

<style scoped>

</style>
