<template>
    <v-flex class="d-flex">
        <app-bar-slot
            bar-name="افراد">
            <template v-slot:createButton>
                <v-btn
                    class="mr-2 ml-0"
                    :loading="friendLoading"
                    icon
                    @click="addFriendDialog = true"
                    small>
                    <v-icon> mdi-account-plus </v-icon>

                </v-btn>
                <v-row justify="center" :style="addFriendDialog ? '' : 'display: none'">
                    <v-dialog
                        v-model="addFriendDialog"
                        persistent
                        max-width="600px"
                    >
                        <v-card>
                            <v-card-title>
                                <h5>افزودن مخاطب</h5>
                            </v-card-title>
                            <v-card-text>
                                <v-container>
                                    <v-text-field
                                        label="نام کاربری موردنظر را وارد کنید"
                                        required
                                        v-model="username"
                                    />
                                </v-container>
                                <small>از صحیح بودن نام کاربری مخاطب اطمینان حاصل کنید</small>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn
                                    color="red darken-1"
                                    text
                                    @click="addFriendDialog = false"
                                >
                                    بستن
                                </v-btn>
                                <v-btn
                                    color="green darken-1"
                                    text
                                    @click="sendRequest()"
                                >
                                    ارسال
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </v-row>
            </template>
            <template v-slot:toggleButtons>
                <app-btn-toggle
                    :items="friendsToggleItem"
                    :subject="1"
                    :btn-loading="friendLoading"
                    @getFriends="getFriends"/>
            </template>
        </app-bar-slot>
    </v-flex>
</template>

<script>
import AppBarSlot from "../../../layout/appBarSlot";
import AppBtnToggle from "../../../layout/appBtnToggle";
import { mapState } from "vuex";
import appFriendsMethods from "./appFriendsMethods";

export default {
    name: "appFriendsBar",
    components: {AppBtnToggle, AppBarSlot},
    data() {
        return {
            username: '',
            addFriendDialog: false,
            friendsToggleItem: [
                { name: 'تایید شده', value: 'approved' },
                { name: 'در انتظار تایید', value: 'notApproved' },
                { name: 'همه', value: 'all' },
                { name: 'درخواست ها', value: 'requests' },
            ]
        }
    },
    computed: {
        ...mapState({
            friends: state => state.friends.list.approved,
            friendLoading: state => state.friends.friendLoading,
            disableFriendList: state => state.friends.disableFriendList,
            active: state => state.friends.list.activeLists,
        })
    },
    methods: {
        ...appFriendsMethods
    }
}
</script>

<style scoped>

</style>
