<template>
    <v-container style="min-height: 200px;">
        <div v-for="(friend, index) in friends" :key="index" class="d-flex mb-2">
            <slot name="avatar"/>
            <v-avatar
                class="mt-2"
                :color="friend.status === 'approved' ? 'teal'
                : friend.status === 'notApproved' && friend.user_id_1 === user.user.user.id ? 'warning lighten-2'
                : friend.status === 'notApproved' && friend.user_id_1 !== user.user.user.id ? 'blue-grey darken-1'
                : friend.status === 'ignored' ? 'red darken-3' : null"
                size="45"
            >
                <v-icon dark v-if="friend.status === 'approved'">mdi-shield-account</v-icon>
                <v-icon dark v-else-if="friend.status === 'notApproved' && friend.user_id_1 === user.user.user.id">
                    mdi-account-question
                </v-icon>
                <v-icon dark v-else-if="friend.status === 'notApproved' && friend.user_id_1 !== user.user.user.id">
                    mdi-account-clock
                </v-icon>
                <v-icon dark v-else-if="friend.status === 'ignored'">mdi-shield-lock</v-icon>
            </v-avatar>
            <slot name="userInfo"/>
            <v-list-item two-line>
                <v-list-item-content v-if="friend.user_id_1 === user.user.user.id">
                    <v-list-item-title>{{ friend.user2.name }}</v-list-item-title>
                    <v-list-item-subtitle>{{ friend.user2.username }}</v-list-item-subtitle>
                </v-list-item-content>
                <v-list-item-content v-else-if="friend.user_id_2 === user.user.user.id">
                    <v-list-item-title>{{ friend.user1.name }}</v-list-item-title>
                    <v-list-item-subtitle>{{ friend.user1.username }}</v-list-item-subtitle>
                </v-list-item-content>
            </v-list-item>

            <v-icon
                color="green darken-3"
                class="mx-1"
                v-if="friend.status === 'notApproved' && friend.user_id_1 === user.user.user.id"
                @click="changeStatus(friend.id, 'approved')"
            >mdi-account-check</v-icon>
            <v-icon
                color="cyan darken-3"
                class="mx-1"
                v-if="friend.status !== 'ignored'"
                @click="startConversation(friend.user_id_1, friend.user_id_2)"
            >mdi-chat-plus</v-icon>
            <v-icon
                color="warning lighten-1"
                class="mx-1"
                v-if="friend.status !== 'ignored'"
                @click="changeStatus(friend.id, 'ignored')"
            >mdi-account-cancel</v-icon>
            <v-icon
                color="red darken-1"
                class="mx-1"
                @click="deleteFriend()"
            >mdi-account-remove</v-icon>
        </div>
    </v-container>
</template>

<script>
import {mapState} from "vuex";
import appFriendsMethods from "./appFriendsMethods";

export default {
    name: "appFriendsBody",
    computed: {
        ...mapState({
            user: state => state.user,
            friends: state => state.friends.list.activeLists,
            friendLoading: state => state.friends.friendLoading,
            disableFriendList: state => state.friends.disableFriendList,
            active: state => state.friends.list.activeLists,
            currentChat: state => state.conversations.list.activeLists,
        })
    },
    data() {
        return {
        }
    },
    methods: {
        ...appFriendsMethods
    }
}
</script>

<style scoped>

</style>
