<template>
    <v-btn-toggle
        v-model="btnToggle"
        color="white"
        dense group>
        <v-btn
            v-for="(toggle, index) in items"
            :key="index"
            :disabled="btnToggle === index"
            :loading="btnLoading"
            @click="btnAction(toggle.value, subject)"
            text small>
            {{ toggle.name }}
        </v-btn>
    </v-btn-toggle>
</template>

<script>
import appBtnToggleMethods from "./appBtnToggleMethods";

export default {
    name: "appBtnToggle",
    props: {
        items: {
            Type: [Array, Object],
            default: function () {
                return []
            }
        },
        subject: {
            Type: Number,
            default: 0
        },
        btnLoading: {
            Type: Boolean,
            default: false
        }
    },
    data() {
        return {
            btnToggle: 0
        }
    },
    methods: {
        ...appBtnToggleMethods
    }
}
</script>

<style scoped>

</style>
