<template>
    <v-app-bar
        color="indigo"
        shaped
        dense
        dark>
        <slot name="createButton"/>
        <v-toolbar-title>
            {{ barName }}
        </v-toolbar-title>
        <v-spacer/>
        <slot name="toggleButtons"/>
    </v-app-bar>
</template>

<script>
export default {
    name: "appBarSlot",
    props: {
        barName: {
            Type: String,
            default: ''
        }
    }
}
</script>

<style scoped>

</style>
