<template>
    <v-dialog v-model="dialog">
        <v-card>
            <v-card-title>
                <span class="text-h5">Use Google's location service?</span>
            </v-card-title>
            <v-card-text>
                {{ chat }}
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                    color="green darken-1"
                    text
                    @click="dialog = false"
                >
                    Disagree
                </v-btn>
                <v-btn
                    color="green darken-1"
                    text
                    @click="dialog = false"
                >
                    Agree
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
export default {
    name: "dialogChat",
    props: {
        dialog: {
            Type: String,
        },
        chat: []
    }
}
</script>

<style scoped>

</style>
